@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bhdLno {
  max-width: none !important;
  max-height: none !important;
}

.rcp-root {
  max-width: none !important;
  max-height: none !important;
}
.rcp-saturation {
  height: 20vw !important;
}

.rcp-fields-floor{
  height: 10vw !important;
}
 .rcp-field-input {
  height: 10vw !important;
  font-size: 5vw !important;
 }

.ant-color-picker-color-block {
  width: 10vw !important;
  height: 8vw !important;
  
}
.ant-color-picker-inner-content {
  width: 50vw !important; 
  height: 35vw !important;
}
.ant-color-picker-color-block-inner {
  width: 10vw !important;
}
.ant-color-picker-palette {
  height: 5vw !important;
}
.ant-color-picker-trigger-text {
  font-size: 5vw !important;
}

.ant-color-picker-input .ant-input {
  height: 10vw !important;
  font-size: 5vw !important;
} 

.ant-color-picker-input .ant-select-selection-item {
  font-size: 5vw !important;
}

.ant-color-picker-status-error {
  border-width: 0.4vw !important;
}

.ant-form-item-explain-error {
  font-size: 3vw !important;
}

.ant-modal-content {
  width: 60vw !important;
  background: rgb(15,106,162) !important;
background: linear-gradient(90deg, rgba(15,106,162,1) 25%, rgba(96,161,203,1) 81%) !important;
}
